In [14]:
print("Hello World") #Double_Quot -------> #It is used for only single line.

Hello World

In [13]:
print('Hello World') #Single_Quot -------> #It is also used for only single line.

Hello World

In [3]:
print("Ram's book")

Ram's book

In [4]:
print('Ram's book')

SyntaxError: invalid syntax (3435484128.py, line 1)

In [12]:
print('''hello bhai!! 
kaise ho ??''')         #Triple_Quot -------> #It is used for Multiple line.

hello bhai!!
kaise ho ??

In [6]:
print("hello
      bhai")

SyntaxError: EOL while scanning string literal (1009139950.py, line 1)

In [7]:
print('hello 
      world')

SyntaxError: EOL while scanning string literal (2683863534.py, line 1)

In [15]:
print(123)  #---------> #Its a Number.

123

In [16]:
print('123') #---------> #Its A String.

123

# Data Types & Variables.

In [17]:
# int------->   + or -(0-9)
# string
# float
# bool
# complex

In [22]:
a = 9  #-----> Assign value in variable.

In [20]:
print('a')

a

In [21]:
print(a)

9

In [23]:
print('b')

b

In [24]:
# int -----> + or - (0-9)
x = -7
print(x)

-7

In [25]:
type(x)

int

In [26]:
# float-----> + - (0-9) decimal point
x = -34.58
x

-34.58

In [27]:
type(x)

float

In [28]:
# string ----->
# '',""
a = 'thdukty#@#$%@#()_@yahoo.com,12.345,45,78'

In [29]:
print(a)

thdukty#@#$%@#()_@yahoo.com,12.345,45,78

In [30]:
type(a)

str

In [31]:
# bool ----> True & False
a = 'True'
type(a)

str

In [32]:
a = True
a
type(a)

bool

In [33]:
a = true
a

NameError: name 'true' is not defined

In [34]:
a = "true"
type(a)

str

In [35]:
#wap to add two numbers

In [36]:
a=10
b=23
c=a+b
print(c)

33

In [37]:
#wap to swap two numbers .

# 1. with the help of 3rd variable.
# 2 . without using third variable.

a = 8
b = 9
print("Before swapping----->",a,b)
c = b
b = a
a = c
print("After swapping ------->",a,b)

Before swapping-----> 8 9
After swapping -------> 9 8

In [38]:
# best wrong method.
a = 7
b = 4
print(a,b)
a = 4
b = 7
print(a,b)

7 4
4 7

In [39]:
# swap the number without third var.

a,b = 7,6
print(a,b)
a,b = b,a
print(a,b)

7 6
6 7