In [2]:
#Loop:-------->We have two loop in the python.
#1. For Loop 
#2. While Loop

#For_Loop:------> #In this loop the range is defining compulsory.
#we have limit in this loop.


    
    
                  
        
#While_Loop:----> #We have no limit in this loop.

In [3]:
#For and While Loop:

#Syntax For for loop

# for varible in range(define the range):
#     print(variable)

#wap to print from 0-10

for i in range(10):
    print(i)
    
#Exclude the ending point.
#Run at only n-1

0
1
2
3
4
5
6
7
8
9

In [4]:
#wap to print numberzs from 2-10
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [5]:
#wap to find the number from 1-50 
# number should be in alternative form.

for i in range(1,51,2):
    print(i)
    
#Into the range function we passes the the 3 arguments.
#1:- Starting Point
#2:- Ending Point
#3:- Step Size (Also have n-1 value)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [6]:
#wap to print odd even number from 1-100.

for i in range(1,100):
    if i % 2 == 0 :
        print("Number is even",i)
        
    else:
        print("Number is odd----------->",i)

Number is odd-----------> 1
Number is even 2
Number is odd-----------> 3
Number is even 4
Number is odd-----------> 5
Number is even 6
Number is odd-----------> 7
Number is even 8
Number is odd-----------> 9
Number is even 10
Number is odd-----------> 11
Number is even 12
Number is odd-----------> 13
Number is even 14
Number is odd-----------> 15
Number is even 16
Number is odd-----------> 17
Number is even 18
Number is odd-----------> 19
Number is even 20
Number is odd-----------> 21
Number is even 22
Number is odd-----------> 23
Number is even 24
Number is odd-----------> 25
Number is even 26
Number is odd-----------> 27
Number is even 28
Number is odd-----------> 29
Number is even 30
Number is odd-----------> 31
Number is even 32
Number is odd-----------> 33
Number is even 34
Number is odd-----------> 35
Number is even 36
Number is odd-----------> 37
Number is even 38
Number is odd-----------> 39
Number is even 40
Number is odd-----------> 41
Number is even 42
Number is odd-----------> 43
Number is even 44
Number is odd-----------> 45
Number is even 46
Number is odd-----------> 47
Number is even 48
Number is odd-----------> 49
Number is even 50
Number is odd-----------> 51
Number is even 52
Number is odd-----------> 53
Number is even 54
Number is odd-----------> 55
Number is even 56
Number is odd-----------> 57
Number is even 58
Number is odd-----------> 59
Number is even 60
Number is odd-----------> 61
Number is even 62
Number is odd-----------> 63
Number is even 64
Number is odd-----------> 65
Number is even 66
Number is odd-----------> 67
Number is even 68
Number is odd-----------> 69
Number is even 70
Number is odd-----------> 71
Number is even 72
Number is odd-----------> 73
Number is even 74
Number is odd-----------> 75
Number is even 76
Number is odd-----------> 77
Number is even 78
Number is odd-----------> 79
Number is even 80
Number is odd-----------> 81
Number is even 82
Number is odd-----------> 83
Number is even 84
Number is odd-----------> 85
Number is even 86
Number is odd-----------> 87
Number is even 88
Number is odd-----------> 89
Number is even 90
Number is odd-----------> 91
Number is even 92
Number is odd-----------> 93
Number is even 94
Number is odd-----------> 95
Number is even 96
Number is odd-----------> 97
Number is even 98
Number is odd-----------> 99

In [7]:
#wap to print numbers from -10 to 10.
#wap to print numbers from 10 to -10.

for i in range(-10,11):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(10,-11,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [9]:
#while loop----->

# 1.initialize
# 2. condition
# 3.increment/decrement


# 1-10---->


x = 1

while x<=10:
    
    print(x)
    x = x+1

1
2
3
4
5
6
7
8
9
10

In [10]:
x = 1

while x<=10:
    
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9
10

In [11]:
#wap to print even odd using while loop!!

x=1

while x<=50:
    if x%2==0:
        print("Number is even",x)
        
    else:
        print("Number is odd------->",x)
        
    x+=1

Number is odd-------> 1
Number is even 2
Number is odd-------> 3
Number is even 4
Number is odd-------> 5
Number is even 6
Number is odd-------> 7
Number is even 8
Number is odd-------> 9
Number is even 10
Number is odd-------> 11
Number is even 12
Number is odd-------> 13
Number is even 14
Number is odd-------> 15
Number is even 16
Number is odd-------> 17
Number is even 18
Number is odd-------> 19
Number is even 20
Number is odd-------> 21
Number is even 22
Number is odd-------> 23
Number is even 24
Number is odd-------> 25
Number is even 26
Number is odd-------> 27
Number is even 28
Number is odd-------> 29
Number is even 30
Number is odd-------> 31
Number is even 32
Number is odd-------> 33
Number is even 34
Number is odd-------> 35
Number is even 36
Number is odd-------> 37
Number is even 38
Number is odd-------> 39
Number is even 40
Number is odd-------> 41
Number is even 42
Number is odd-------> 43
Number is even 44
Number is odd-------> 45
Number is even 46
Number is odd-------> 47
Number is even 48
Number is odd-------> 49
Number is even 50