In [1]:
#SET------> Set is a data collection type.

x={89,93,87,83,'Python','SQL',True,}
print(x)

{True, 83, 'SQL', 87, 89, 93, 'Python'}

In [2]:
type(x)

set

In [3]:
x[0]

TypeError: 'set' object is not subscriptable

In [5]:
#unordered
#no index
#immutable
#slicing not possible.

#set method

#single element
x={2}
print(x)

{2}

In [6]:
type(x)

set

In [9]:
#empty set
x=set()
print(x)

set()

In [10]:
type(x)

set

# Function

In [11]:
#DRY--------> Don't Repeat Yourself.
#----------->Block_Of_Code.

#Syntax------->
 #define the function function_name():
            #print the msg
            #logic define

In [13]:
def hello():
    print("Hello I Am Function")

In [14]:
hello()

Hello I Am Function

In [17]:
#wap to add two numbers with the function.

def add():
    a=12
    b=13
    c=a+b
    print(c)

In [18]:
add()

25

In [19]:
type(add)

function

In [20]:
#Types_Of_Function.
# 1. No Argument no Retrun
# 2. No Argument with Retrun
# 3. With Argument with Return
# 4. With Argument no Return.

In [21]:
# 1. No Return no Arguments.

def add():
    a=12
    b=13
    c=a+b
    print(c)
    
add()

25

In [22]:
#with argument no return.

def add(x,y):
    z=x+y
    print(z)
    
add(2,4)

6

In [23]:
#With_String.

add('1','2')

12

In [24]:
type(add)

function

In [28]:
#with argument with return.
#Return--------> Work like as print function but also work in function.

def add(a,b):
    result=a+b
    return result



add(34,56)

90

In [29]:
print("Hello World")

Hello World

In [30]:
return ("Hello World")

SyntaxError: 'return' outside function (1431541011.py, line 1)

In [31]:
#No Argument with return.

def add():
    a=12
    b=13
    c=a+b
    return c
add()

25

In [2]:
#wap to determine the salary of the employee where if 
#the emp takes more than 12 leaves in a year than
#the salary will be deducted by 7.5% and if the leaves
#are less than 5 in year the there will be bonus of 
# 12.3%. calculate the yearly income.

salary =int(input("Enter the salary"))
leaves = 100

def income(salary,leaves):
    if leaves>12:
        ded=(salary*7.5)/100
        tot_sal= salary-ded
        return tot_sal
    
    elif leaves<5:
        bonus = (salary*12.3)/100
        tot_sal = salary+bonus
        return(tot_sal)
        
income(salary,22)

Enter the salary70000

64750.0